@import './globalStyles.scss';

.frolfLeague {
  .content {
    width: 60%;
    margin-top: $margin-lg;
    margin-right: auto;
    margin-left: auto;

    .paperContent {
      padding: $padding-md;
    }
  }
}