@import '../../globalStyles.scss';

button {
  a {
    text-decoration: none;
    color: white;
    font-size: $font-sm;
  }
}

li {
  a {
    text-decoration: none;
    color: black;
    font-size: $font-sm;
  }
}